.nav {
  margin: 10px;
  background-color: navy;
  margin-bottom: 5px;
  padding: 5px;
}
.nav a {
  margin-left: 10px;
  color: navy;
  background-color: orange;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}
